<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${user.u_name}]]のページ</title>
    <link href="/css/commons.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="common/header"></th:block>

<hr>
<div style="display:flex; margin-left:10%">
    <div class="btn" style="margin:0"><a class="basic-btn" href="/insert"> + </a></div>
    <input type="button" onclick="location.href='/menu'" value="戻る" class="cancel-btn" style="margin:0">
</div>

<h3 style="text-align:center">[[${user.u_name}]] さんのページ</h3>

<table>
    <thead>
    <tr>
        <th>タイトル</th>
        <th>作成者</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each ="post : ${posts}" data-href="location.href='/index'">
        <td><a th:href="'/post/'+${post.id}" style="color:purple">[[ ${post.title} ]]</a></td>
        <td th:text="${post.author}"></td>
    </tr>

</table>

</body>
</html>